# dotenv
.env

# Flask
instance/*
!instance/.gitignore
.webassets-cache

# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# ruff
.ruff_cache/

# for docker
Dockerfile
compose.yaml
.dockerignore
.gitignore
.git/
LICENSE
README.md
.pre-commit-config.yaml

# Custom rules
!.gitkeep
app.db
sessions/
uploads/
README.md.old
