{% for post in posts %}
<div class="post card mt-3">
    <div class="card-body">
        <h5 class="card-title">
            <img class="profile-pic-small rounded-circle img-thumbnail" src="{{ url_for('.profile_pic', username=post.author.username) }}" alt="Profile picture">
            <span>{{ post.author.username }}</span>
        </h5>
        <p class="card-text mb-2">
            <span class="newline-text">{{ post.post }}</span>
        </p>
        <p class="card-subtitle">
            <small class="text-body-tertiary mb-2">{{ post.timestamp }}</small>
        </p>
        <a href="#" class="card-link">✨ Aura ✨</a>
        <a href="#" class="card-link">💥 Burn 💥</a>
    </div>
</div>
{% endfor %}

