{% extends "layout.html" %}

{% block page_title %}
    Profile
{% endblock %}

{% block main %}
    <div class="container border rounded-4 mt-2 mb-4 p-4">
        <div class="row">
            <div class="col-4">
                <img
                    src="{{ url_for('.profile_pic', username=user.username) }}"
                    alt="Profile picture"
                    class="profile-pic img-thumbnail rounded-circle" />
            </div>
        {% if user == current_user %}
            <div class="col d-flex justify-content-end">
                <button class="btn btn-outline-primary align-self-start" data-bs-toggle="modal" data-bs-target="#editProfile">Edit profile</button>
            </div>
        {% endif %}
        </div>
        <div class="row me-3">
            <div class="col">
                <p class="h3 pt-2 flow-start">{{ user.username }}</p>
            </div>
            <div class="col">
                <p class="h5 text-end ">Followers: {{ user.followers|count }}</p>
                <p class="h5 text-end">Following: {{ user.following|count }}</p>
            </div>
        </div>
        <div class="row me-3">
            <div class="col-5">
            {% if user.bio != None %}
                <p class="h6 ms-2 flow-start text-break newline-text">{{ user.bio }}</p>
            {% else %}
                <span class="fst-italic ms-2 flow-start">No bio</span>
            {% endif %}
            </div>
            {% if user != current_user %}
                <div class="col d-flex justify-content-end">
                {% if user.followed %}
                    <form action="{{ url_for('api.unfollow_profile') }}" method="post">
                        {{ follow_profile_form.csrf_token }}
                        <input id="profile_id" name="profile_id" type="hidden" value="{{ user.id }}">
                        <input class="btn btn-outline-secondary" id="submit" name="submit" type="submit" value="Unfollow">
                    </form>
                {% else %}
                    <form action="{{ url_for('api.follow_profile') }}" method="post">
                        {{ follow_profile_form.csrf_token }}
                        <input id="profile_id" name="profile_id" type="hidden" value="{{ user.id }}">
                        <input class="btn btn-outline-primary" id="submit" name="submit" type="submit" value="Follow">
                    </form>
                {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
    <p class="h2 text-body-secondary">User's posts</p>
    {% for post in posts %}
        {% include "components/post.html" %}
    {% endfor %}
{% endblock %}

{% block modal %}
    {% include "components/edit_profile.html" %}
{% endblock %}

{% block script %}
    <script>
        document.getElementById("saveProfileButton").addEventListener("click", function () {
            const profileForm = document.getElementById("editProfileForm");
            profileForm.submit();
        });
    </script>
{% endblock %}