{% extends "layout.html" %}

{% block page_title %}
    Profile
{% endblock %}

{% block main %}
<div class="container border rounded-4 mt-2 p-4">
    <div class="row">
        <div class="col-4">
            <img
                src="{{ url_for('.profile_pic', username=current_user.username) }}"
                alt="Profile picture"
                class="profile-pic img-thumbnail rounded-circle" />
        </div>
        <div class="col d-flex justify-content-end">
            <button class="btn btn-outline-primary align-self-start" data-bs-toggle="modal" data-bs-target="#editProfile">Edit profile</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="h3 pt-2 flow-start">{{ current_user.username }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            {% if current_user.bio != None %}
                <p class="h6 ms-2 flow-start text-wrap text-break">{{ current_user.bio }}</p>
            {% else %}
                <span class="fst-italic ms-2 flow-start">No bio</span>
            {% endif %}
        </div>
    </div>
</div>

<div class="modal" id="editProfile" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit your profile information</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form id="editProfileForm" class="mx-auto" action="{{ url_for('.edit_profile')}}" method="post" enctype=multipart/form-data novalidate>
                    {{ form.csrf_token }}
                    <fieldset class="mt-3 mb-5">
                        <div class="mb-3">
                            {{ form.bio.label(class_="form-label") }}
                            {{ form.bio(class_="form-control", rows_="3") }}
                        </div>
                        <div class="mb-3">
                            {{ form.profile_img.label(class_="form-label") }}
                            {{ form.profile_img(class_="form-control") }}
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                {{ form.submit(class_="btn btn-success", id_="saveButton") }}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    document.getElementById('saveButton').addEventListener('click', function() {
        let form = document.getElementById('editProfileForm');
        form.submit();
    });
</script>
{% endblock %}
