@import url("https://fonts.googleapis.com/css2?family=Chango&family=Fredoka:wght@300..700&display=swap");

.fredoka-text {
    font-family: "Fredoka", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.chango-text {
    font-family: "Chango", serif;
    font-weight: 400;
    font-style: normal;
}

.flash_list {
    list-style-type: none;
    padding-inline-start: 0px;
}

.profile-pic {
    width: clamp(50px, 40vw, 200px);
    height: auto;
} 

.profile-pic-small {
    width: clamp(40px, 4vw, 60px);
    height: auto;
}

.post {
    width: min(500px, 80%);
}

.newline-text {
    white-space: pre-wrap;
}