<div class="post card mb-3" id="{{ post.id }}">
    <div class="card-body">
        <div class="card-title d-flex justify-content-between flex-row">
            <a class="h5 text-decoration-none" href="{{ url_for('core.profile', username=post.author.username) }}">
                <img class="profile-pic-small rounded-circle img-thumbnail" src="{{ url_for('core.profile_pic', username=post.author.username) }}" alt="Profile picture">
                <span>{{ post.author.username }}</span>
            </a>
            <div class="dropdown">
                <a href="#" role="button" data-bs-toggle="dropdown">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical text-white" viewBox="0 0 16 16">
                        <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"/>
                    </svg>
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    {% if post.author == current_user %}
                    <li>
                        <a href="#" id="editPostButton" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#editPost" data-bs-id="{{ post.id }}" onclick="editPostButtonClicked(this)">Edit</a>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                        <a href="#" class="dropdown-item link-danger">Delete</a>
                    </li>
                    {% else %}
                    <li>
                        <h6 class="dropdown-header">No options available</h6>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <p class="card-text mt-2 mb-2 ms-1">
            <span class="newline-text post-content">{{ post.content }}</span>
        </p>
        <p class="card-subtitle mb-1">
            <small class="text-body-tertiary">{{ moment(post.timestamp).fromNow(refresh=True) }} {% if post.edited %}(edited){% endif %} </small>
        </p>
        {% if post.liked %}
        <a href="#" class="card-link btn btn-sm rounded-5 btn-outline-warning like-btn active" aria-pressed="true" data-bs-toggle="button" data-bs-id="{{ post.id }}" onclick="likeButtonClicked(this)">
            <span>✨ {{ post.likes|count }} Aura ✨</span>
        </a>
        {% else %}
        <a href="#" class="card-link btn btn-sm rounded-5 btn-outline-warning like-btn" data-bs-toggle="button" data-bs-id="{{ post.id }}" onclick="likeButtonClicked(this)">
            <span>✨ {{ post.likes|count }} Aura ✨</span>
        </a>
        {% endif %}
    </div>
</div>