{% if users %}
    <ul class="list-unstyled">
    {% for user in users %}
        <li class="mb-3">
            <a class="h5 text-decoration-none" href="{{ url_for('core.profile', username=user.username) }}">
                <img class="profile-pic-small rounded-circle img-thumbnail" src="{{ url_for('core.profile_pic', username=user.username) }}" alt="Profile picture">
                {% if user.followed %}
                <span>{{ user.username }} <i class="bi bi-person-check-fill"></i></span>
                {% elif user == current_user %}
                <span>{{ user.username }} <i class="bi bi-person-circle"></i></span>
                {% else %}
                <span>{{ user.username }}</span>
                {% endif %}
            </a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p class="h3 text-body-secondary text-center">Nobody's here!</p>
{% endif %}