<div class="post card mb-3 rounded-4" id="{{ post.id }}">
    <div class="card-body">
        <div class="card-title d-flex justify-content-between">
            <a class="h5 text-decoration-none" href="{{ url_for('profile.profile_page', username=post.author.username) }}">
                <img class="pfp-small rounded-circle img-thumbnail" src="{{ url_for('profile.serve_pfp', user_id=post.author.id) }}" alt="Profile picture">
                {% if post.author.followed %}
                <span>{{ post.author.username }} <i class="bi bi-person-check-fill"></i></span>
                {% elif post.author == current_user %}
                <span>{{ post.author.username }} <i class="bi bi-person-circle"></i></span>
                {% else %}
                <span>{{ post.author.username }}</span>
                {% endif %}
            </a>
            <div class="dropdown">
                <a href="#" data-bs-toggle="dropdown">
                    <i class="bi bi-three-dots-vertical text-white"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                    {% if post.author == current_user %}
                    <li>
                        <a href="#" id="editPostButton" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#editPost" data-post-id="{{ post.id }}" onclick="editPostButtonClicked(this)">Edit</a>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                        <a href="#" class="dropdown-item link-danger" data-bs-toggle="modal" data-bs-target="#deletePost" data-post-id="{{ post.id }}" onclick="deletePostButtonClicked(this)">Delete</a>
                    </li>
                    {% else %}
                    <li>
                        <h6 class="dropdown-header">No options available</h6>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <p class="card-text mt-2 mb-2 ms-1">
            <span class="newline-text post-content">{{ post.content }}</span>
        </p>
        <p class="card-subtitle mb-1">
            <small class="text-body-tertiary">{{ moment(post.timestamp).fromNow(refresh=True) }} {% if post.edited %}(edited){% endif %} </small>
        </p>
        <div class="d-flex justify-content-between">
            <a href="#" class="card-link btn btn-sm rounded-5 btn-outline-warning like-btn {% if post.liked %}active{% endif %}" data-bs-toggle="button" aria-pressed="{{ 'true' if post.liked else 'false' }}" data-post-id="{{ post.id }}" onclick="likeButtonClicked(this)">
                <span>✨ {{ post.likes|count }} Aura ✨</span>
            </a>
            <button type="button" class="btn btn-link p-0" data-element-id="{{ post.id }}" data-list="likes" onclick="showUserList(this)">
                <i class="bi bi-list-stars text-white"></i>
            </button>
        </div>
    </div>
</div>
