{% extends "layout.html" %}
{% from "_formhelpers.html" import render_auth_field, render_checkbox %}

{% block page_title %}
    Login
{% endblock %}

{% block main %}
    <div class="container border rounded d-flex justify-content-center">
        <form class="mx-auto" action="{{ url_for('.login') }}" method="post" novalidate>
            {{ form.csrf_token }}
            <fieldset class="mt-3 mb-5">
                <legend class="h2 mb-4">Log in to Japper</legend>
                {{ render_auth_field(form.username) }}
                {{ render_auth_field(form.password) }}
                {{ render_checkbox(form.remember) }}
                {{ form.submit(class_="btn btn-outline-success") }}
            </fieldset>
        </form>
    </div>
{% endblock %}
