{% extends "layout.html" %}
{% from "_formhelpers.html" import render_tag %}

{% block page_title %}
    Sign Up
{% endblock %}

{% block main %}
    <div class="container border rounded p-5 m-5 ">
        <form class="mx-auto needs-validation" action="{{ url_for('auth.signup')}}" method="post" novalidate>
            {{ form.csrf_token }}
            <div class="form-floating mb-3">
                {{ render_tag(form.username, class='form-control bg-secondary-subtle'+(' is-invalid' if form.username.errors else ''), id='username', placeholder='Username') }}
                {{ render_tag(form.username.label, class='form-label') }}
                <div class="invalid-feedback">
                    {% if form.username.errors %}
                        {% for error in form.username.errors %}
                            {{ error }}<br>
                        {% endfor %}
                    {% else %}
                        {{ form.username.description }}
                    {% endif %}
                </div>
            </div>
            <div class="form-floating mb-3">
                {{ render_tag(form.password, class='form-control bg-secondary-subtle'+(' is-invalid' if form.password.errors else ''), id='password', placeholder='Username') }}
                {{ render_tag(form.password.label, class='form-label') }}
                <div class="invalid-feedback">
                    {% if form.password.errors %}
                        {% for error in form.password.errors %}
                            {{ error }}<br>
                        {% endfor %}
                    {% else %}
                        {{ form.password.description }}
                    {% endif %}
                </div>
            </div>
            <div class="form-floating mb-3">
                {{ render_tag(form.confirm_password, class='form-control bg-secondary-subtle'+(' is-invalid' if form.confirm_password.errors else ''), id='confirm_password', placeholder='Username') }}
                {{ render_tag(form.confirm_password.label, class='form-label') }}
                <div class="invalid-feedback">
                    {% if form.confirm_password.errors %}
                        {% for error in form.confirm_password.errors %}
                            {{ error }}<br>
                        {% endfor %}
                    {% else %}
                        {{ form.confirm_password.description }}
                    {% endif %}
                </div>
            </div>
            {{ render_tag(form.submit, class="btn btn-outline-success") }}
        </form>
    </div>
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='js/form_validation.js') }}"></script>
{% endblock %}