{% extends "layout.html" %}
{% from "_formhelpers.html" import render_auth_field %}

{% block page_title %}
    Sign Up
{% endblock %}

{% block main %}
    <div class="container border rounded d-flex justify-content-center">
        <form class="mx-auto" action="{{ url_for('.signup')}}" method="post" novalidate>
            {{ signup_form.csrf_token }}
            <fieldset class="mt-3 mb-5">
                <legend class="h2 mb-4">Create new Japper account</legend>
                {{ render_auth_field(signup_form.username) }}
                {{ render_auth_field(signup_form.password) }}
                {{ render_auth_field(signup_form.confirm_password) }}
                {{ signup_form.submit(class_="btn btn-outline-success") }}
            </fieldset>
        </form>
    </div>
{% endblock %}
